* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gabarito', sans-serif;
}

/* HEADER STYLES */

li {
    list-style: none;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #ffffed;
    font-weight: 700;
}
a:hover {
    color: #c7ea46;
}
header {
    background-image: url('./johannes-hofmann-gW3ddTAKTJg-unsplash.jpg');
    background-size: cover;
    min-height: 90vh;
    width: 100%;
    background-position: 0 60%;
    overflow: hidden;  
}

.nav-logo {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.nav-logo .first {
    font-size: 2rem;
}
.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    min-width: 100%;
    background-color: #080e08;
    border-bottom: 5px solid #101d11;
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    margin-top: 50vh;
    text-align: center;
}
.search-bar {
    padding: 5px 15px;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid #ffffed;
    background-color: #ffffedbd;
    font-family: 'Gabarito', sans-serif;
    font-size: 1rem;
}
.search-button {
    height: 50px;
    width: 80px;
    border-radius: 25px;
    border: 3px solid #c7ea46;
    background-color: #c7ea46;
    text-transform: uppercase;
    font-family: 'Gabarito', sans-serif;
    font-size: 1rem;
}
.search-button:hover {
    background-color: #93ad34;
    border-color: #93ad34;
}
/* HAMBURGER MENU */
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3x ease-in-out;
    background-color: #ffffed;
  }

/* BODY STYLES */
main {
    min-height: 100vh;
    background-color: #ffffed;
}

/* MEDIA QUERY */
@media screen and (max-width: 420px){
    .hamburger {
        display: block;
    }
    .nav-menu {
        flex-direction: column;
        position: fixed;
        right: -50%;
        top: 2.9rem;
        background-color: #101d11;
        padding: 1rem;
        transition: .2s;
    }
    .nav-menu.active {
        right: 0;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}