* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/* HEADER STYLES */

li {
    list-style: none;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #ffffed;
    font-weight: 700;
}

.nav-logo {
    font-size: 1.5rem;
}

header {
    background-image: url('./johannes-hofmann-gW3ddTAKTJg-unsplash.jpg');
    background-size: cover;
    min-height: 90vh;
    width: 100%;
    background-position: 0 60%;
    overflow: hidden;
    
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    min-width: 100%;
    background-color: #080e08;
    border-bottom: 5px solid #101d11;
    /* background-color: #101d11; */
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    margin-top: 30vh;
    text-align: center;
}
.search-bar {
    padding: 5px 15px;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #ffffed;
    background-color: #ffffedbd;
}

/* BODY STYLES */
main {
    min-height: 100vh;
    background-color: #ffffed;
}